* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #2D2D2D;
  font-family: gilroy;
}
body>.bottom{
    z-index: 999;
    position: fixed;
  bottom: 5%;
  right: 3.5%;
    height: 60px;
    width: 230px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #fff;
    gap: 20px;
}
body>.bottom img{
    height: 80px;
    margin-left: -25%;
    margin-bottom: 10%;

}
body>.bottom h2{
    font-size: 18px;
}

nav{
    mix-blend-mode: difference;
    padding: 10px 40px;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: lightblue; */
}
nav>h1{
    position: relative;
    font-size: 23px;
    font-family: gilroy;
    font-weight: 400;
    letter-spacing: .5px;
}
nav>h1::after{
content: "*";
}
nav>h1>span{
    font-weight: 700;

}
nav>.icons{
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
}
nav>.icons>i{
    color: #000;
    background-color: #fff;
    padding: 5px 6px;
    border-radius: 50px;
    transition: .5s;
}
nav>.icons>i:hover{
    scale: 1.1;
    cursor: pointer;

}
.main {
  overflow:hidden;
  background-color: #2D2D2D;

}
.page1{
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #2D2D2D;
    z-index: -99;

}
.page1>canvas{
    /* position: relative; */
    z-index: 99;
    max-width: 100vw;
    max-height: 100vh;
}
.page1-cover{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    /* background-color: lightblue; */
}
.page1-cover>.scroller{
    margin-top: 70px;
    padding: 20px 0px;
    white-space: nowrap;
    overflow-y:auto ;
    overflow-x: hidden;
    scrollbar-width: none;
    

    
}
.main-copy-wrap {
    display: inline-block;
    font-size: 10rem;
    letter-spacing: -2px;
    line-height: 1em;
    padding-right: 0.3em;
    /* animation: textLoop 24s linear infinite; */
    animation: move 16s infinite linear; 
    color: #fff;

}
.t-bold {
    font-weight: 700;
}
.t-thin {
    font-weight: 200;
}


.t-italic {
    font-style: italic;
}
.t-stroke {
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
}

/* .page1-cover>.scroller>h1{
    display: inline-block;
    font-size: 6em;
     animation: move 16s infinite linear; 
} */

@keyframes move {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
    
    
}
.page1-cover>.para{
    color: #fff;
    width: 32%;
    font-size: 14px;
    font-weight: 300;
    margin-left: 6%;
    margin-top: 5%;
    line-height: 19px;
    letter-spacing: 1px;
}
.page1-cover>.text{
    color: #fff;
    height: 100px;
    width: 35%;
    /* background-color: red; */
    text-align: end;
    position: absolute;
    right: 5%;
    top: 53%;
}
.page1-cover>.text>p{
    color: #fff;
    /* width: 32%; */
    font-size: 14px;
    font-weight: 300;
    margin-left: 2%;
   
    line-height: 19px;
    letter-spacing: 1px;
}
.page1-cover>.text>h2{
    line-height: 19px;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 600;
    margin-left: 2%;
     margin-top: 4%;
}

.page2{
    z-index: 8;
    color: #fff;
    height: 100vh;
    width: 100%;
    position: relative;
    /* background-color: yellowgreen; */

}
.page2>.left{
    

    height: 200px;
    width: 600px;
    position: absolute;
    /* background-color: red; */
    bottom: 24%;
    left: 5%;
}
.page2>.left>p{
    font-size: 13px;
    font-family: gilroy;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.page2>.left>h1{
    font-size: 45px;
    font-family: gilroy;
    letter-spacing: 1px;
    line-height: 55px;
    
}
.page2>.right{
    z-index: 8;

    height: 200px;
    text-align: end;
    /* width: 600px; */
    position: absolute;
    /* background-color: red; */
    bottom: 10%;
    right: 3%;
}
.page2>.right>p{
    font-size: 13px;
    font-family: gilroy;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.page2>.right>h1{
    font-size: 45px;
    font-family: gilroy;
    letter-spacing: 1px;
    line-height: 55px;
    margin-bottom: 10px;
    
}
.page3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: transparent;
}
.page3>.left{
    padding-left: 7%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 40%;
    /* background-color: red; */
}

.page3>.left>p{
    font-size: 13px;
    font-family: gilroy;
    letter-spacing: 1px;
    margin-bottom: 15px;
    /* margin-left: -40px; */
}
.page3>.left>h1{
    font-size: 46px;
    font-family: gilroy;
    letter-spacing: 1px;
    line-height: 55px;
    
}
.page3>.right{
    padding-right: 5%;
    padding-bottom: 90px;
    display: flex;
    text-align: end;
    /* align-items: flex-end; */
    justify-content: end;
    flex-direction: column;
    height: 100%;
    width: 38%;
    /* background-color: red; */
}

.page3>.right>p{
    font-size: 13px;
    font-family: gilroy;
    letter-spacing: 1px;
    margin-bottom: 15px;
    /* margin-left: -40px; */
}
.page4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    height: 100vh;
    width: 100%;
    position: relative;
    /* background-color: rgb(22, 139, 11); */

}
.page4>.left{
    padding-left: 5%;
    display: flex;
    align-items: start;
    /* justify-content: center; */
    flex-direction: column;
    height: 100%;
    width: 35%;
    padding-top: 100px;
    /* background-color: red; */
}

.page4>.left>p{
    font-size: 13px;
    font-family: gilroy;
    letter-spacing: 1px;
    margin-bottom: 15px;
    /* margin-left: -40px; */
}

.page4>.right{
    padding-right: 5%;
    display: flex;
    align-items: end;
    text-align: end;
    justify-content:end;
    flex-direction: column;
    height: 100%;
    width: 35%;
    padding-bottom: 100px;
    /* background-color: red; */
}
.page4>.right>p{
    font-size: 13px;
    font-family: gilroy;
    letter-spacing: 1px;
    margin-bottom: 15px;
    /* margin-left: -40px; */
}
.page4>.right>h1{
font-size: 46px;
font-family: gilroy;
letter-spacing: 1px;
line-height: 55px;

}


.page4-cover{
    z-index: 999;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 100%;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
.page4-cover>p{
    width: 50%;
    color: #2D2D2D;
    font-size: 13px;
    font-family: gilroy;
    letter-spacing: 1px;
    margin-bottom: 15px;
    /* margin-left: -40px; */
}
.page4-cover>h1{
    font-size: 56px;
    font-family: gilroy;
    letter-spacing: 1px;
    line-height: 55px;
    color: #000;
    margin-bottom: 20px;
}

.page5{
    color: #fff;
    height: 70vh;
    width: 100%;
    position: relative;
    background-color: #F2F2F2;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    scrollbar-width: none;
    /* scroll-behavior:; */
    
}
.page5>.img1{
    display: inline-block;
    /* animation: ; */
    /* background-color: black; */
    height: 100%;
    width: auto;
    animation: move 9s infinite linear; 

}
.page5>.img1>img{
    display: inline-block;
    height: 100%;
    width: 100%;
    /* margin-left: -20%; */
    /* background-color: red; */
}

.main>.page6{
    border-bottom: 1px dotted gray;
    padding: .1px;
    height: 120vh;
    width: 100%;
    position: relative;
    color: #fff;
    /* background-color: yellow; */
}
.page6>h1{
    text-align: center;
    font-size: 70px;
    font-family: gilroy;
    font-weight: 700;
    margin-top: 10%;
}
.page6>p{
    text-align: center;
    font-size: 14px;
    font-family: gilroy;
    font-weight: 300;
    margin-top: 10px;
}
.main>.page6 .center{
    /* background-color: #F2F2F2; */
    position: relative;
    height: 60%;
    width: 90%;
    /* background-color: blue; */
    margin-left: 7%;
   
    /* grid-template-columns: auto auto auto ;
} */}
.page6 .center .box{
    background-color: #F2F2F2;
    padding: 10px;
    margin-left: 3%;
    margin-top: 3%;
    display: inline-block;
    /* height: 35%;
    width: 25%; */
    padding: 20px 15px;
    border: 1px solid black;
    border-radius: 10px;
}
.page6 .center .box h5{
    font-size: 12px;
    color: #000;
    font-weight: 500;
}
.page6 .center .box h2{
    font-size: 20px;
    color: #000;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}
.page6 .center .box p{
    font-size: 15px;
    color: #000;
    font-weight: 400;
    margin-top: 10px;
    /* margin-bottom: 10px; */
}
.page7{
    position: relative;
    padding: .1px;
    height: 150vh;
    width: 100%;
    /* background-color: red; */
}
.page7>h1{
    text-align: center;
    margin-top: 8%;
    font-size: 56px ;
    font-family: gilroy;
    font-weight: 600;
    color: #fff;
}
.page7>p{
    text-align: center;
    margin-top: .5%;
    font-size: 13px ;
    font-family: gilroy;
    font-weight: 300;
    color: #fff;
    margin-bottom: 30px;
}
.page7>.textscroll-1{
    /* background-color: yellowgreen; */
    /* padding: 5px 0px; */
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: hidden;
    /* margin-top: 30px; */


}
.page7 .textscroll-1 h1{
    line-height: 6rem;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
     font-size: 7rem;
     display: inline-block;
     animation: move 18s infinite linear;
}
.page7>#reverse{
    /* background-color: yellowgreen; */
    /* padding: 5px 0px; */
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: hidden;
    /* margin-top: 30px; */


}

.page7 #reverse h1{
    line-height: 6rem;

    color: transparent;
    -webkit-text-stroke: 1px #fff;
     font-size: 7rem;
     display: inline-block;
     animation: move 18s infinite linear reverse;
}

.page7>.img{
    padding: 5px;
    position: absolute;
    bottom: 6%;
    left: 28%;
    
}
.page7>.img img{
    height: 550px;
    
}
.page7>.img h2{
    text-align: center;
    color: #fff;
    font-family: gilroy;
    font-weight: 600;
    font-size: 30px;
    padding-top: 10px;
}
.page7>.img p{
    text-align: center;
    color: #fff;
    font-family: gilroy;
    font-weight: 400;
    font-size:14px;
    padding-top: 7px;
}
.page7>.img .icns{
    text-align: center;
    margin-left: 43%;
    padding-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.page7>.img i{
    padding: 5px 8px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    transition: .5s;
    cursor: pointer;

}
.page7>.img i:hover{
    color: #000;
    background-color: #fff;   
}
.page8{
    padding-top: 10px;
    position: relative;
    height: 80vh;
    width: 100%;
}
.page8>p{
    width: 40%;
    margin-left: 30%;
    color: #fff;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 15px;
}
.page8>.centerline{
    height: 180px;
    width: 1px;
    background-color: #b8b6b6;
    margin-left:50% ;
    margin-top:7% ;
}
.page9{
position: relative;
padding: .1px;
    height: 100vh;
    width: 100%;
}

.page9>p{
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
}
.page9>h1{
    text-align: center;
    color: #fff;
    font-family: gilroy;
    font-weight: 600;
    font-size: 60px;
    /* padding-top: 10px; */
}
.page9>p:nth-child(3){
    margin-top: 20px;
    width: 50%;
    margin-left: 25%;
}
.page9>.centerline{
    height: 180px;
    width: 1px;
    background-color: #b8b6b6;
    margin-left:50% ;
    margin-top:4% ;
}
.bottom{
    height: 90vh;
    width: 100%;
    /* background-color: red; */
    position: relative;
    padding: .1px;
}
.bottom>.btmlinks{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    /* background-color: blue; */
    width: 70%;
    margin-left: 15%;
    /* margin-top: 20px; */
    gap: 30px;
}
.bottom>.btmlinks>button{
    padding: 8px 30px;
    font-size: 14px;
    font-family: gilroy;
    font-weight: 400;
    background-color: transparent;
    border: 1PX solid #fff;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    transition: .5s;
    letter-spacing: .5px;
}
.bottom>.btmlinks>button:hover{
    background-color: #fff;
    color: black;
}
.bottom>h2{
    text-align: center;
    font-size: 10em;
    font-family: gilroy;
    font-weight: 600;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    line-height: 130px;
    font-style: italic;
}
.bottom>#icons{
   position: relative;
   left: 49%;
   top: 5%;
   color: #fff;
   font-weight: 500;
   font-size: 20px;

}
.bottom>h5{
    text-align: center;
    font-size: 14px;
    font-family: gilroy;
    font-weight: 500;
    margin-top: 40px;
    color: #fff;
    /* line-height: 130px; */
    /* font-style: italic; */
}
